[submodule "framework"]
	path = framework
	url = https://github.com/yiisoft/yii.git
[submodule "www/protected/extensions/groupGridView"]
	path = www/protected/extensions/groupGridView
	url = https://github.com/vitalets/groupgridview.git
